# Web Framework
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12

# Object Storage
minio==7.2.15

# Progress State
redis==5.0.8

# Validation & Settings
pydantic==2.9.2
pydantic-settings==2.6.0  # baca .env

# NLP Pipeline
bertopic==0.16.4
sentence-transformers==3.2.1   # IndoBERTweet embeddings
scikit-learn==1.5.2            # BIRCH clustering
umap-learn==0.5.7

# Praprosesing teks
emoji==2.15.0
indoNLP==0.3.4